.box{
    background-color: aqua;
    border: 5px solid black;

    padding: 20px;

    margin-bottom: 30px;
}

.nav-link{
    text-decoration: none; 
    /* text mathi line hatavva */
    display: inline-block;
    padding: 10px;
    background-color: lightgray;
    color: black;
}

.intro{
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}