/* Parent Container */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: black;
    color: white;
    padding: 15px;
}
/* 2. Beech wale Links */

.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}