body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    box-sizing: border-box;
    padding: 20px;
    background-color: aqua;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
}
.content{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 30px;
    background-color: brown;
    color: chartreuse;
    width: 50%;
    position: relative;
    border: 1px solid black;
}
.footer{
    box-sizing: border-box;
    text-align: center;
    color: darkgreen;
    background-color: black;
    padding: 10px;
    position: fixed;
    border: 1px solid black;
    right: 50%;
    bottom: 250px;
    width: 20%;
    
}