.text{
    font-size: 19px;
    padding: 45px;
}

button{
    margin: 45px;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: aqua;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.light-purple{
    background-color: rgb(194, 219, 219);
}

